@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/swiper.min.scss';
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.swiper-slide {
    background: #fff;

    .header {
    	width: 100%;
    	height: 10vh;
    	background-color: red;

    	.header__logoWrap {
			display: block;
			float: left;
			width: 20%;
			height: 100%;
			background-color: green;
			
			.header__logo {
				margin-top: 2.5vh;
				margin-left: 30%;
				border: 3px solid #f2ebdd;
				width: 70px;
				height: 70px;

				.header__logoText {
					font-family: Montserrat Black, sans-serif;
					font-weight: 600;
					margin-top: 15px;
					margin-left: 10px;
					color: #F2EBDD;
				}
			}
    	}

    	.header__horizontalNav {
    		&.horizontalNav {
				display: block;
				float: left;
				width: 40%;
				height: 100%;
				background-color: orange;

				.horizontalNav__list {
					width: 100%;
					height: 100%;

					.horizontalNav__listItem {
						display: block;
						float: left;
						width: 20%;
						height: 100%;
						position: relative;

						.horizontalNav__itemLink {
							width: 100%;
							margin-top: 5vh;
							display: block;
							color: #f2ebdd;
							text-align: center;
							text-decoration: none;
							font-family: Montserrat Black, sans-serif;
							font-weight: 600;
							font-size: 1.5vmin;
							transition: all .5s;

							&:hover {
								color: #e8ab56;
							}
						}
					}
				}
    		}
    	}

    	.header__myAccountWrap {
    		display: block;
			float: left;
			width: 30%;
			height: 100%;
			background-color: purple;

			.header__myAccountWrap {
				display: block;
				float: left;
				width: 100%;
				height: 100%;
				position: relative;

				.header__myAccountText {
					width: 100%;
					margin-top: 5vh;
					display: block;
					color: #f2ebdd;
					text-align: right;
					text-decoration: none;
					font-family: Montserrat Black, sans-serif;
					font-weight: 600;
					font-size: 1.5vmin;
					transition: all .5s;

					&:hover {
						color: #e8ab56;
					}
				}
			}
    	}
    }
}