@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/swiper.min.scss';
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
$white: #ffffff;
/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
     -moz-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
     -moz-transition-delay: #{$animation-delay};
       -o-transition-delay: #{$animation-delay};
          transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
     @-moz-keyframes #{$keyframes} { @content; }
       @-o-keyframes #{$keyframes} { @content; }
          @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}
.humburgerPopupMenu {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #517C63;
	transition: all 0.8s;
	top: -100%;

	&_active	{
		top:	0%;
		z-index: 888;
	}
}
.swiper-container-mousewheel {
    width: 100%;
    height: 100%;
    margin: 0 auto;

	.swiper-slide {
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
		
		&:nth-of-type(1) {
			background-image: url('../image/bg1920x1080.png');

			.header {
		    	width: 100%;
		    	height: 10vh;

		    	.header__logoWrap {
					display: block;
					float: left;
					width: 20%;
					height: 100%;
					
					.header__logo {
						margin-top: 2.5vh;
						margin-left: 30%;
						border: 3px solid #f2ebdd;
						width: 70px;
						height: 70px;

						.header__logoText {
							font-family: Montserrat Black, sans-serif;
							font-weight: 600;
							margin-top: 15px;
							margin-left: 10px;
							color: #F2EBDD;
						}
					}
		    	}

		    	.header__horizontalNav {
		    		&.horizontalNav {
						display: block;
						float: left;
						width: 40%;
						height: 100%;

						.horizontalNav__list {
							width: 100%;
							height: 100%;

							.horizontalNav__listItem {
								display: block;
								float: left;
								width: 20%;
								height: 100%;
								position: relative;

								.horizontalNav__itemLink {
									width: 100%;
									margin-top: 5vh;
									display: block;
									color: #f2ebdd;
									text-align: center;
									text-decoration: none;
									font-family: Montserrat Black, sans-serif;
									font-weight: 600;
									font-size: 1.5vmin;
									transition: all .5s;

									&:hover {
										color: #e8ab56;
									}
								}
							}
						}
		    		}
		    	}

		    	.header__myAccountWrap {
		    		display: block;
					float: left;
					width: 30%;
					height: 100%;

					.header__myAccountWrap {
						display: block;
						float: left;
						width: 100%;
						height: 100%;
						position: relative;

						.header__myAccountText {
							width: 100%;
							margin-top: 5vh;
							display: block;
							color: #f2ebdd;
							text-align: right;
							text-decoration: none;
							font-family: Montserrat Black, sans-serif;
							font-weight: 600;
							font-size: 1.5vmin;
							transition: all .5s;

							&:hover {
								color: #e8ab56;
							}
						}
					}
		    	}

		    	.header__burgerMenuWrap {
		    		&.burgerMenuWrap {
		    			display: block;
		    			float: left;
		    			width: 10%;
		    			height: 100%;

		    			.burgerMenuWrap__burgerMenu {
							position: relative;
							top: 55%;
							left: 50%;
							@include transform(translate(-55%, -50%));
							width: 50px;
							height: 50px;
							cursor: pointer;
							z-index: 999;

							.burgerMenuWrap__item {
								position: absolute;
								top: 50%;
								left: 50%;
								width: 5px;
								height: 5px;
								background-color: $white;
								border-radius: 10px;
								@include transform(translate(-50%, -50%));
								@include transition(margin .4s ease .4s, width .4s ease);

								&:nth-of-type(1) {
									margin-top: -10px;
									margin-left: -10px;
									@include transform(translate(-50%, -50%) rotate(45deg));
								}

								&:nth-of-type(2) {
									margin-top: -10px;
									@include transform(translate(-50%, -50%) rotate(-45deg));
								}

								&:nth-of-type(3) {
									margin-top: -10px;
									margin-left: 10px;
								}

								&:nth-of-type(4) {
									margin-left: -10px;
								}

								&:nth-of-type(5) {  

								}

								&:nth-of-type(6) {
									margin-left: 10px;
								}

								&:nth-of-type(7) {
									margin-top: 10px;
									margin-left: -10px;
								}

								&:nth-of-type(8) {
									margin-top: 10px;
								}

								&:nth-of-type(9) {
									margin-top: 10px;
									margin-left: 10px;
								}
							}

							&.clicked {
								.burgerMenuWrap__item {
									@include transition(margin .4s ease, width .4s ease .4s);
										margin-left: 0;
										margin-top: 0;

									&:nth-of-type(1) {
										width: 30px;
									}

									&:nth-of-type(2) {
										width: 30px;
									}
								}
							}
						}
		    		}
		    	}
		    }

		    .mainContent {
		    	width: 100%;
		    	height: 80vh;

		    	.mainContent__slider {
		    		display: block;
		    		float: left;
		    		width: 45%;
		    		height: 100%;
		    		margin-left: 5%;

		    		.swiper-container {
		    			width: 100%;
		    			height: 100%;

		    			.swiper-slide {
		    				font-size: 18px;
		    				color: #fff;
		    				padding: 40px 60px;

		    				&.swiper-wrapper_bg {
		    					background-position: center;
		    					background-size: contain;
		    					background-repeat: no-repeat;
		    					background-color: transparent;
		    				}

		    				&.swiper-wrapper_bg_greenBikeInverse {
		    					background-image: url('../image/greenBikeInverse.png')
		    				}
		    				&.swiper-wrapper_bg_redBikeInverse {
		    					background-image: url('../image/redBikeInverse.png')
		    				}
		    				&.swiper-wrapper_bg_whiteBikeInverse {
		    					background-image: url('../image/whiteBikeInverse.png')
		    				}

		    				.title {
		    					margin-top: 20%;
								font-family: Montserrat Black, sans-serif;
								font-weight: 700;
								font-size: 5vmin;
		    				}
		    				.subtitle {
								margin-top: 2%;
								font-family: Montserrat Black, sans-serif;
								font-weight: 500;
								font-size: 2vmin;
		    				}
		    				.text {
								font-size: 14px;
								max-width: 400px;
								line-height: 1.3;
		    				}
		    			}
		    		}
		    	}

		    	.mainContent__informationWrap {
		    		display: block;
		    		float: left;
		    		width: 45%;
		    		height: 80vh;

		    		.informationWrap__titleNameProjectWrap {
		    			margin-top: 20vh;
		    			width: 100%;
		    			height: 10vh;
		    			display: block;
		    			float: left;
		    			text-align: left;

		    			.informationWrap__nameProjectTitle {
							font-family: Niteweit-Regular, sans-serif;
							font-weight: 700;
							font-size: 9vmin;
							color: #f2ebdd;
							letter-spacing: 4px;
		    			}
		    		}
		    		.informationWrap__makeByWrap {
		    			width: 100%;
		    			height: 10vh;
		    			display: block;
		    			float: left;
		    			text-align: left;

		    			.informationWrap__makeByText {
		    				font-family: Niteweit-Regular, sans-serif;
							font-weight: 100;
							font-size: 2vmin;
							color: #f2ebdd;
							letter-spacing: 3px;
							line-height: 1;
							display: inline-block;
							text-decoration: none;
							cursor: pointer;

							&:hover {
								color: #e8ab56;

								&:after {
									width: 100%;
								}
							}
							&:focus {
								&:after {
									width: 100%;
								}
							}
							&:after {
								display: block;
								content: "";
								margin-top: .3vh;
								height: 2px;
								width: 0;
								background-color: #e8ab56;
								transition: all .5s;
							}
		    			}
		    		}

		    		.informationWrap__blockNumberWrap {
		    			width: 40%;
		    			height: 20vh;
		    			display: block;
		    			float: left;
		    			background-color: #e8ab56;
		    			padding: 4vh 0;
		    			text-align: center;
		    			margin-left: 30%;
		    			transform: rotate(-90deg);

		    			.informationWrap__blockNumberTitle {
		    				font-family: Niteweit-Regular, sans-serif;
							font-weight: 900;
							font-size: 12vmin;
							color: #517c63;
		    			}
		    		}
		    	}
		    }

		    .footer {
		    	width: 100%;
		    	height: 10vh;

		    	.footer__circleSocialWrap {
		    		display: block;
		    		float: left;
		    		width: 20%;
		    		height: 100%;
		    	}
		    	.footer__horizontalNavFooter {
		    		&.horizontalNavFooter {
		    			display: block;
		    			float: left;
		    			width: 30%;
		    			height: 100%;

		    			.horizontalNavFooter__list {
		    				width: 100%;
		    				height: 100%;

		    				.horizontalNavFooter__listItem {
		    					display: block;
		    					float: left;
		    					width: 33.333333333%;
		    					height: 100%;
		    					position: relative;

		    					.horizontalNavFooter__itemLink {
		    						width: 100%;
		    						margin-top: 2vh;
		    						display: block;
		    						color: #517c63;
		    						text-align: center;
		    						text-decoration: none;
		    						font-family: Montserrat Black, sans-serif;
		    						font-weight: 600;
		    						font-size: 1.5vmin;
		    						transition: all .5s;
		    						line-height: 1;
									display: inline-block;
									text-decoration: none;
									cursor: pointer;

									&:hover {
										color: #e8ab56;

										&:after {
											width: 100%;
										}
									}

									&:after {
										display: block;
										content: "";
										margin-top: -.8vh;
										height: 2px;
										width: 0;
										background-color: #e8ab56;
										transition: all .5s;
									}

									&:focus {
										&:after {
											width: 100%;
										}
									}
		    					}
		    				}
		    			}
		    		}
		    	}

		    	.footer__mousewheelAnimation {
		    		&.mousewheelAnimation {
			    		display: block;
			    		float: left;
			    		width: 50%;
			    		height: 100%;

			    		.mousewheelAnimation__mouse {
			    			border: 2px solid #517c63;
			    			border-radius: 13px;
			    			display: block;
			    			height: 36px;
			    			position: absolute;
			    			width: 20px;
			    			float: right;
			    			right: 5%;
			    			bottom: 5vh;

			    			.mousewheelAnimation__point {
			    				animation-duration: 1s;
			    				animation-fill-mode: both;
			    				animation-iteration-count: infinite;
			    				animation-name: scroll;
			    				background: none repeat scroll 0 0 #517c63;
			    				border: 1px solid transparent;
			    				border-radius: 4px;
			    				display: block;
			    				height: 4px;
			    				margin: 6px auto;
			    				width: 4px;
			    			}
			    		}

			    		.mousewheelAnimation__textWrap {
			    			width: 20%;
			    			height: 100%;
			    			float: right;
			    			display: block;
							margin-right: 15%;
							margin-top: 2.5vh;

							.mousewheelAnimation__text {
								font-size: 1.5vmin;
								color: #517c63;
								font-family: Montserrat Black, sans-serif;
							}
			    		}
			    	}
		    	}
		    }
		}

	    &:nth-of-type(2) {
			background-color:red;
		}
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}