@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/swiper.min.scss';
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.swiper-slide {
    background: #fff;

    .header {
    	width: 100%;
    	height: 10vh;
    	background-color: red;

    	.header__logoWrapper {
			display: block;
			float: left;
			width: 20%;
			height: 100%;
			background-color: green;
			
			.header__logo {
				margin-top: 2.5vh;
				margin-left: 30%;
				border: 3px solid #f2ebdd;
				width: 70px;
				height: 70px;

				.header__logoText {
					font-family: Montserrat Black, sans-serif;
					font-weight: 600;
					margin-top: 15px;
					margin-left: 10px;
					color: #F2EBDD;
				}
			}
    	}
    }
}