doctype html
html(lang="ru-RU")
	head
		include template/head.pug
	body
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					header.header
						.header__logoWrapper
							.header__logo
								p.header__logoText WE BIKE
						nav.horizontalNav.header__horizontalNav
							ul.horizontalNav__list
								mixin horizontalListItemMix(link, nameLink)
									li.horizontalNav__listItem
										a(class="horizontalNav__itemLink" href=(`${link}`))= nameLink
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'bike')
				.swiper-slide
		include template/scripts.pug