doctype html
html(lang="ru-RU")
	head
		include template/head.pug
	body
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.humburgerPopupMenu
					header.header
						.header__logoWrap
							.header__logo
								p.header__logoText WE BIKE
						nav.horizontalNav.header__horizontalNav
							ul.horizontalNav__list
								mixin horizontalListItemMix(link, nameLink)
									li.horizontalNav__listItem
										a(class="horizontalNav__itemLink" href=(`${link}`))= nameLink
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'outdoor')
								+horizontalListItemMix('#', 'streewear')
								+horizontalListItemMix('#', 'running')
								+horizontalListItemMix('#', 'ski')
						ul.header__myAccountWrap
							li.header__myAccountWrap
								a(class="header__myAccountText" href="#") My account
						- var x = 9;
						.burgerMenuWrap.header__burgerMenuWrap
							ul.burgerMenuWrap__burgerMenu
								- for (var i=1; i<=x; i++) {
									.burgerMenuWrap__item
								- }
					section.mainContent
						.mainContent__slider
				.swiper-slide
		include template/scripts.pug