doctype html
html(lang="ru-RU")
	head
		include template/head.pug
	body
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					header.header
						.header__logoWrapper
							.header__logo
								p.header__logoText WE BIKE
				.swiper-slide
		include template/scripts.pug