@import '_mixin.scss';
.contentWrap {
	height: 100vh;

	&:nth-of-type(1) {
		@extend %alignment;
		width: 60%;

		@media screen and (max-width: 1366px) {
			width: 50%;
		}

		@media screen and (max-width: 1024px) {
			width: 100%;
		}

		.contentWrap__informationBox {
			&.informationBox {
				@extend %alignment;
				width: 40%;
				height: 100%;
				background-color: #314943;

				@media screen and (max-width: 1366px) {
					width: 0%;
				}

				.informationBox__textWrap {
					margin-top: 3vh;
					width: 100%;
					height: 5vh;
					padding: 10px;

					.informationBox__text {
						font-size: 2vmin;
						color: #f2ebdd;
						margin-left: 10%;
					}
				}

				.informationBox__titleWrap {
					position: absolute;
					width: 30%;
					height: 10vh;
					margin-top: 35vh;
					margin-left: 7%;
					text-align: center;
					z-index: 888;

					.informationBox__title {
						font-size: 7vmin;
						color: #f2ebdd;
						font-weight: 900;
						font-family: Times New Roman;
					}
				}

				.informationBox__blockNumberWrap {
					position: absolute;
					width: 18%;
					min-width: 250px;
					height: 20vh;
					margin-top: 55vh;
					margin-left: 15%;
					text-align: center;
					background-color: #f6d599;
					z-index: 888;

					.informationBox__blockNumberTitle {
						font-family: Niteweit-Regular, sans-serif;
						font-weight: 900;
						font-size: 12vmin;
						color: #314943;
						line-height: 20vh;
					}
				}
			}
		}

		.contentWrap__slider {
			&.bicycleSwipeSlider {
				@extend %alignment;
				width: 60%;
				height: 100%;

				@media screen and (max-width: 1366px) {
					width: 100%;
				}

				.swiper-container {
	    			width: 100%;
	    			height: 100%;

	    			.swiper-slide {
	    				font-size: 18px;
	    				color: #fff;
	    				padding: 40px 60px;

	    				&.swiper-wrapper_bg {
	    					background-position: center;
	    					background-size: cover;
	    					background-repeat: no-repeat;
	    					background-color: transparent;
	    				}

	    				&.swiper-wrapper_bg_s1 {
	    					background-image: url('../image/s1.jpg')
	    				}
	    				&.swiper-wrapper_bg_s2 {
	    					background-image: url('../image/s2.jpg')
	    				}
	    				&.swiper-wrapper_bg_s3 {
	    					background-image: url('../image/s3.jpg')
	    				}
	    				&.swiper-wrapper_bg_s4 {
	    					background-image: url('../image/s4.jpg')
	    				}

	    				.title {
	    					margin-top: 30%;
							font-family: Montserrat Black, sans-serif;
							font-weight: 700;
							font-size: 5vmin;
	    				}
	    				.subtitle {
							margin-top: 2%;
							font-family: Montserrat Black, sans-serif;
							font-weight: 500;
							font-size: 2vmin;
	    				}
	    				.text {
							font-size: 14px;
							max-width: 400px;
							line-height: 1.3;
	    				}
	    			}
	    		}
			}
		}
	}

	&:nth-of-type(2) {
		@extend %alignment;
		width: 40%;
		background-color: #314943;

		.humburgerPopupMenuSecondSlide {
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: #517C63;
			transition: all 0.8s;
			bottom: -200%;
			z-index: 888;
			opacity: .9;

			&_active	{
				bottom:	-100%;
			}
		}

		@media screen and (max-width: 1366px) {
			width: 50%;
		}

		@media screen and (max-width: 1024px) {
			display: none;
		}

		.contentWrap__header {
			width: 100%;
			height: 10vh;

			.contentWrap__burgerMenuWrap {
				&.burgerMenuWrap {
					@extend %alignment;
					width: 20%;
					height: 100%;

					.burgerMenuWrap__burgerMenu {
						position: relative;
						top: 55%;
						left: 50%;
						@include transform(translate(-55%, -50%));
						width: 50px;
						height: 50px;
						cursor: pointer;
						z-index: 999;

						.burgerMenuWrap__item {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 5px;
							height: 5px;
							background-color: $white;
							border-radius: 10px;
							@include transform(translate(-50%, -50%));
							@include transition(margin .4s ease .4s, width .4s ease);

							&:nth-of-type(1) {
								margin-top: -10px;
								margin-left: -10px;
								@include transform(translate(-50%, -50%) rotate(45deg));
							}

							&:nth-of-type(2) {
								margin-top: -10px;
								@include transform(translate(-50%, -50%) rotate(-45deg));
							}

							&:nth-of-type(3) {
								margin-top: -10px;
								margin-left: 10px;
							}

							&:nth-of-type(4) {
								margin-left: -10px;
							}

							&:nth-of-type(5) {  

							}

							&:nth-of-type(6) {
								margin-left: 10px;
							}

							&:nth-of-type(7) {
								margin-top: 10px;
								margin-left: -10px;
							}

							&:nth-of-type(8) {
								margin-top: 10px;
							}

							&:nth-of-type(9) {
								margin-top: 10px;
								margin-left: 10px;
							}
						}

						&.clicked {
							.burgerMenuWrap__item {
								@include transition(margin .4s ease, width .4s ease .4s);
									margin-left: 0;
									margin-top: 0;

								&:nth-of-type(1) {
									width: 30px;
								}

								&:nth-of-type(2) {
									width: 30px;
								}
							}
						}
					}
				}
			}
		}

		.contentWrap__topTextSliderWrap {
			width: 50%;
			height: 5vmin;
			margin: 22vh auto 0;

			.contentWrap__topTextSlider {
				font-size: 2vmin;
				color: #f2ebdd;
			}
		}

		.contentWrap__slider {
			&.bicycleSwipeSlider {
				width: 50%;
				height: 30vh;
				margin: 0 auto;

				.swiper-container {
	    			width: 100%;
	    			height: 100%;

	    			.swiper-slide {
	    				font-size: 18px;
	    				color: #fff;
	    				padding: 40px 30px;

	    				&.swiper-wrapper_bg {
	    					background-position: center;
	    					background-size: cover;
	    					background-repeat: no-repeat;
	    					background-color: transparent;
	    				}

	    				&.swiper-wrapper_bg_s1 {
	    					background-image: url('../image/s1.jpg')
	    				}
	    				&.swiper-wrapper_bg_s2 {
	    					background-image: url('../image/s2.jpg')
	    				}
	    				&.swiper-wrapper_bg_s3 {
	    					background-image: url('../image/s3.jpg')
	    				}
	    				&.swiper-wrapper_bg_s4 {
	    					background-image: url('../image/s4.jpg')
	    				}

	    				.title {
	    					margin-top: 10%;
							font-family: Montserrat Black, sans-serif;
							font-weight: 300;
							font-size: 2vmin;
	    				}
	    				.subtitle {
							margin-top: 2%;
							font-family: Montserrat Black, sans-serif;
							font-weight: 200;
							font-size: 1vmin;
	    				}
	    				.text {
							font-size: 14px;
							max-width: 400px;
							line-height: 1.3;
	    				}
	    			}
	    		}
			}
		}

		.contentWrap__bottomTextSliderWrap {
			width: 50%;
			height: 5vh;
			margin: 0 auto;
			text-align: right;

			.contentWrap__bottomTextSlider {
				margin-top: 2vh;
				font-size: 2vmin;
				color: #f2ebdd;
			}
		}

		.contentWrap__footer {
			position: absolute;
			width: 100%;
			height: 10vh;
			bottom: 0;
			background-color: #1d253d;

			.contentWrap__horizontalNavFooter {
	    		&.horizontalNavFooter {
	    			@extend %alignment;
	    			width: 30%;
	    			height: 100%;

	    			@media screen and (max-width: 1024px) {
						display: none;
					}

	    			.horizontalNavFooter__list {
	    				width: 100%;
	    				height: 100%;

	    				.horizontalNavFooter__listItem {
	    					@extend %alignment;
	    					width: 33.333333333%;
	    					height: 100%;
	    					position: relative;

	    					.horizontalNavFooter__itemLink {
	    						width: 100%;
	    						margin-top: 4vh;
	    						display: block;
	    						color: #f2ebdd;
	    						text-align: center;
	    						text-decoration: none;
	    						font-family: Montserrat Black, sans-serif;
	    						font-weight: 600;
	    						font-size: 1.5vmin;
	    						transition: all .5s;
	    						line-height: 1;
								display: inline-block;
								text-decoration: none;
								cursor: pointer;

								&:hover {
									color: #e8ab56;

									&:after {
										width: 100%;
									}
								}

								&:after {
									display: block;
									content: "";
									margin-top: -.8vh;
									height: 2px;
									width: 0;
									background-color: #e8ab56;
									transition: all .5s;
								}

								&:focus {
									&:after {
										width: 100%;
									}
								}
	    					}
	    				}
	    			}
	    		}
	    	}
		}
	}
}