section.contentWrap
	include humburgerPopupMenuSecondSlide.pug
	header.contentWrap__header
		include burgerMenuWrapSlideSecond.pug
	article.contentWrap__topTextSliderWrap
		p.contentWrap__topTextSlider Graphic design will save the world
	include swiperParallaxTwoSlideSecond.pug
	article.contentWrap__bottomTextSliderWrap
		p.contentWrap__bottomTextSlider Graphic design will save the world
	footer.contentWrap__footer
		include horizontalNavFooterSlideSecond.pug