header.header
	.header__logoWrap
		.header__logo
			p.header__logoText WE <br /> BIKE
	include horizontalNavSlideFirst.pug
	ul.header__myAccountWrap
		li.header__myAccountWrap
			a(class="header__myAccountText" href="#") My account
	include burgerMenuWrapSlideFirst.pug