section.informationWrap.mainContent__informationWrap
	article.informationWrap__titleNameProjectWrap
		h1.informationWrap__nameProjectTitle Wood Bikes
	article.informationWrap__makeByWrap
		p.informationWrap__makeByText Make by Kerthin
	article.informationWrap__blockNumberWrap
		h1.informationWrap__blockNumberTitle 05