section.informationBox.contentWrap__informationBox
	article.informationBox__textWrap
		p.informationBox__text Bike.
	article.informationBox__titleWrap
		h1.informationBox__title Design Bike
	article.informationBox__blockNumberWrap
		h1.informationBox__blockNumberTitle 01